#main_body_container{
    margin: 0 auto;

    background-color:purple;
    width:1000px;

}
#header_div{
    display:flex;
    justify-content: center;
    align-items:center;


    flex-direction:row;
    font-size:30pt;
    font-weight:bold;
    color:dodgerblue;
    text-transform:uppercase;

}
#img_1{
    height:100px;
}
#body_div {
    display: flex;
    flex-direction: row;
    background-color: greenyellow;
}
#left_div{

  background-color:cyan;
  display:flex;
  flex-direction:column;

}
#up_Div{
    width:480px;
    background-color:yellow;

    border-style:solid;
    border-width:2px;
    border-color:darkgray;
    border-radius: 10px;
}
#title_1{
    font-size: 20px;
    font-weight:bold;
    background-color:lightskyblue;
    border-radius:5px;
}
#title_2 {
    font-size: 20px;
    font-weight: bold;
   
}
#down_Div {
    width: 480px;
    background-color: purple;

    
    border-style: solid;
    border-width: 2px;
    border-color: darkgray;
    border-radius: 10px;
}
#right_div {
    display: flex;
    flex-direction:column;
    align-items:center;

    border-radius:20px;
    border-width:2px;
    border-style:solid;
    border-color: darkgray;
    background-color: sandybrown;

}
img{
    width:400px;
}
#slogan{
    font-size: 20pt;
    font-weight:bold;
    color:dodgerblue;
}
#footer_div {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius:5px;
    color:darkgray;

    background-color:aliceblue;
    height: 50px;
}
#maindiv {
    margin-top:50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: lightpink;
    width: 800px;
    height: 500px;
}
.d1 {
    width: 100px;
    height: 120px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: lightblue;
}

